<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <property name="hibernate.dialect">
            org.hibernate.dialect.MySQLDialect
        </property>

        <property name="hibernate.connection.driver_class">
            com.mysql.jdbc.Driver
        </property>


        <property name="hibernate.connection.url">
<!--            jdbc:mysql://localhost/st4db-->
            jdbc:mysql://localhost:3306/st4db?serverTimezone=UTC
        </property>

        <property name="hibernate.connection.username">
            root
        </property>
        <property name="hibernate.connection.password">
            root
        </property>

<!--        <property name="hbm2ddl.auto">create</property>-->

        <property name="current_session_context_class">thread</property>

        <property name="show_sql">true</property>
    </session-factory>
</hibernate-configuration>